POSTGRES_USER=john
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5469
POSTGRES_DB=hishab
POSTGRES_SSLMODE=disable
REDIS_PASSWORD=redis
REDIS_PORT=6369
REDIS_HOST=redis
REDIS_DB=0
REDIS_PROTOCOL=3
HOST=0.0.0.0
PORT=6969
PRODUCTION=true
